<!DOCTYPE html>
<html>
  <head>
    <title> NOMAD PROJECT </title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>


    {% block body %}{% endblock %}

    {% block javascript %}{% endblock %}

  </body>


</html>
